<div style="font-size: smaller;">
    <div>
        <h6>Add Todo</h6>
    </div>
    <div>
        <form action="" [formGroup]="addTodoForm" (ngSubmit)="onAddTodo()">
            <div class="mb-3">
                <label for="">Title</label>
                <input type="text" class="form-control" formControlName="title">
            </div>   
            <div class="mb-3">
                <label for="">Description</label>
                <input type="text" class="form-control" formControlName="des">
            </div>  
            <div class="mb-3">
                <label for="">Status</label>
                <input type="text" class="form-control" formControlName="status">
            </div>    
            <div>
                <button type="submit" >Add new Todo</button>
            </div>   
        </form>
    </div>
</div>