<div>
    <table class="table table-stripped form-text" *ngIf="todos$">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Actions</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let todo of todos$ | async">
                <td>{{todo.id}}</td>
                <td>{{todo.title}}</td>
                <td>{{todo.desc}}</td>
                <td style="display: flex; justify-content:center;  align-items: center; font-size:smaller">
                   <div>
                    <input type="radio" id="pending" name="status" value="pending">&nbsp;
                    <label for="pending">Pending</label> &nbsp;
                   </div>
                   <div>
                    <input type="radio" id="progress" name="status" value="pending">&nbsp;
                    <label for="pending">In Progress</label>&nbsp;
                   </div>
                   <div>
                    <input type="radio" id="completed" name="status" value="pending">&nbsp;
                    <label for="pending">Completed</label>
                   </div>
                
                </td>
                <td>{{todo.status}}</td>
            </tr>
        </tbody>
    </table>
</div>